<div class="card">
    <div class="card-img-top">
        <img src="" alt="">
    </div>
    <div class="card-body">
        <h2 class="card-title">Name: </h2>
        <p class="card-text">Weight: </p>
        <p class="card-text">Height: </p>

        <p class="card-text"><b>Skills</b></p>
        <ul class="list-group">
        <li class="list-group-item"></li>
        </ul>
    </div>
</div>